.button {
  display: inline-block;
  font-size: rem-calc(18);
  font-weight: bold;
  border-radius: rem-calc(49);
  padding: rem-calc(14 47);
  color: #fff;
  transition: background-color  0.4s;
  background-color: $primary;
  text-transform: uppercase;
  letter-spacing: rem-calc(1);
  backdrop-filter: blur(0.15rem);

  &:hover {
    color: #fff;
    background-color: darken($primary, 10%);
  }


  &_hollow {
    background: rgba($primary, .1);
    border: rem-calc(2) solid $primary;
  }

  &_promo {
    @extend .button_hollow;

    position: relative;
    border-radius: rem-calc(29);
    font-size: rem-calc(20);
    width: rem-calc(186);
    padding: rem-calc(14 0);
    text-align: center;
    box-shadow: rem-calc(0 0 10 4) rgba(255, 255, 255, 0.31), inset rem-calc(0 0 10 4) rgba(255, 255, 255, 0.31);

    .button__promo_tip {
      position: absolute;
      font-size: rem-calc(12);
      opacity: 0;
      transition: opacity 0.2s;
      top: 100%;
      transform: translateY(1rem);
      left: 0;
      right: 0;

      &.js-active {
        opacity: 1;
      }
    }
  }

  @include breakpoint(large down) {
    &_promo {
      .button__promo_tip {
        top: 50%;
        right: rem-calc(-10);
        left: auto;
        transform: translate(100%, -50%);
      }
    }
  }

  @include breakpoint(medium down) {
    font-size: rem-calc(24);
    padding: rem-calc(14 37);

    &_promo {
      padding: rem-calc(14 0);
      font-size: rem-calc(20);
      flex-shrink: 0;

      .button__promo_tip {
        font-size: rem-calc(10);
      }
    }
  }

  @media (max-width: 700px) {
    &_promo {
      .button__promo_tip {
        top: 100%;
        transform: translateY(0.5rem);
        left: 0;
        right: 0;
      }
    }
  }

  @include breakpoint(medium down) {
    &_promo {
      width: rem-calc(170);
    }
  }
}
