.button {
  display: inline-block;
  font-size: rem-calc(18);
  font-weight: bold;
  border-radius: rem-calc(49);
  padding: rem-calc(14 47);
  color: #fff;
  transition: background-color  0.4s;
  background-color: $primary;
  text-transform: uppercase;
  letter-spacing: rem-calc(1);
  backdrop-filter: blur(0.15rem);

  &:hover {
    color: #fff;
    background-color: darken($primary, 10%);
  }


  &_hollow {
    background: rgba($primary, .1);
    border: rem-calc(2) solid $primary;
  }

  @include breakpoint(medium down) {
    padding: rem-calc(8 50);
  }


  @include breakpoint(small only) {
      font-size: rem-calc(16);
  }
}
