include ../blocks/burger/_burger


doctype html
html.no-js(lang='ru')
  include components/service/_head
  body
    include components/common/_header
    include components/common/_promo
    include components/common/_features
    include components/common/_services
    include components/common/_works
    include components/common/_about
    include components/common/_cta
    include components/common/_footer







