head
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='copyright', content='ООО ДИЛЕН, 2021')
    meta(name='author' content='Эдик Гизбрехт - https://vk.com/id416854297')
    title Пластиковые окна в Томске

    meta(property="og:title" content="ООО ДИЛЕН")
    meta(property="og:description" content="ООО ДИЛЕН — ваш проводник в мире пластиковых окон.")
    meta(property="og:site_name" content="ООО ДИЛЕН")
    meta(property="og:image" content="./i/og-image.jpg")
    meta(property="og:image:width" content="600")
    meta(property="og:image:height" content="400")
    meta(property="og:type" content="website")
    meta(property="og:url" content= "")
    meta(property="og:locale" content="ru_RU")
    meta(name="keywords" content="пластиковые, окна, монтаж, томск, недорого")
    meta(name="description" content="⭐️⭐️⭐️⭐️⭐️ Профессиональный монтаж пластиковых окон в Томске. Замер 🎁 – БЕСПЛАТНО. Оставить заявку: ☎️ +7 (952) 801 41 20.")

    link(rel='apple-touch-icon' sizes='57x57' href='./images/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='60x60' href='./images/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='./images/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='76x76' href='./images/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='114x114' href='./images/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='120x120' href='./images/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='144x144' href='./images/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='152x152' href='./images/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='./images/favicon/apple-icon-180x180.png')
    link(rel='icon' type='image/png' sizes='192x192' href='./images/favicon/android-icon-192x192.png')
    link(rel='icon' type='image/png' sizes='32x32' href='./images/favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='96x96' href='./images/favicon/favicon-96x96.png')
    link(rel='icon' type='image/png' sizes='16x16' href='./images/favicon/favicon-16x16.png')
    link(rel='manifest' href='./images/favicon/manifest.json')
    meta(name='msapplication-TileColor' content='#ffffff')
    meta(name='msapplication-TileImage' content='./images/favicon/ms-icon-144x144.png')
    meta(name='theme-color' content='#ffffff')

