.about#about-us
  .grid-container
    .about__wrapper
      h2 О нас
      p Мы занимается монтажём окон с 2015 года и в течение 6 лет радуем томичей качественным сервисом. За годы успешной деятельности мы наработали большой опыт решения нетривиальных задач и даже сложную установку можем произвести качественно и в срок.
      p Наши преимущества:
      ul
        li Бесплатные замеры
        li Работаем в выходные
        li Адекватные цены
        li Гибкая система скидок
        li Индивидуальный подход
        li Заключение договоров на дому
