.grid-container
  .cta
    h2 Окна для хороших людей
    .h2 Звоните
    a(href="#").cta__tel +7 (952) 801 41 20
    //- a(href="tel:+79528014120").header__link.header__link_tel
    //-       img(src="./images/wh.svg", alt="").svg-inline
    //-       | +7 (952) 801 41 20
    p Работам без выходных с 9:00 до 21:00
