.grid-container
  .cta
    h2 Окна для хороших людей
    .h2 Звоните
    a(href="tel:+79528014120" title="Позвонить").cta__tel +7 (952) 801 41 20
    P.cta__wha
      span.cta__wha-text Также принимаем заявки в
      a(href="https://wa.me/79528014120" title="Перейти в Whatsapp").cta__wha-link
        img(src="./images/wh.svg", alt="").svg-inline
        | Whatsapp
    p Работам без выходных с 9:00 до 21:00
