.features
  .grid-container
    .features__items
      .feature.features__item
        .feature__img
          img(src="./i/b1.png", alt="")
        .feature__text
          span Гарантия
          span качества
      .feature.features__item
        .feature__img
          img(src="./i/b2.png", alt="")
        .feature__text
          span Гибкая система
          span скидок
      .feature.features__item
        .feature__img
          img(src="./i/b3.png", alt="")
        .feature__text
          span Бесплатный
          span замер
      .feature.features__item
        .feature__img
          img(src="./i/b4.png", alt="")
        .feature__text
          span Индивидуальный
          span подход
      .feature.features__item
        .feature__img
          img(src="./i/b5.png", alt="")
        .feature__text
          span Более 5 лет
          span на рынке
