footer.footer
  .grid-container
    .footer__wrap
      .footer__ogrn г. Томск, ОГРН 115701700984
      a(href="https://vk.com/id416854297" target="_blank" title="Перейти по ссылке").footer__author Дизайн и вёрстка
