.header
  .grid-container
    .header__wrap
      .header__logo
        img(src="./images/logo.svg", alt="Логотип").svg-inline
      nav.header__menu
        a(href="#services" title="Перейти в раздел").header__link Услуги
        a(href="#our-works" title="Перейти в раздел").header__link Наши работы
        a(href="#about-us" title="Перейти в раздел").header__link О нас
        a(href="https://wa.me/79528014120" title="Перейти в Whatsapp").header__link.header__link_wha
          img(src="./images/wh.svg", alt="").svg-inline
          span.hide-for-xlarge WhatsApp
        a(href="tel:+79528014120" title="Позвонить").header__link
          | +7 (952) 801 41 20
      button.header__burger.hide-for-xlarge
        +burger
