.header
  .grid-container
    .header__wrap
      .header__logo
        img(src="./images/logo.svg", alt="").svg-inline
      nav.header__menu
        a(href="#services").header__link Услуги
        a(href="#our-works").header__link Наши работы
        a(href="#about-us").header__link О нас
        a(href="tel:+79528014120").header__link.header__link_tel
          img(src="./images/wh.svg", alt="").svg-inline
          | +7 (952) 801 41 20
