.promo(style="background-image: url(./i/promo2.jpg)")
  .grid-container
    .promo__content
      h1.promo__title Пластиковые окна под ключ
        br
        | по выгодным ценам
        br
        | в Томске!
      a(href="tel:+79528014120" title="Позвонить").button.button_hollow Узнать
