.services(style="background-image: url(./i/master.jpg)" loading="lazy")#services
  .grid-container
    h2.services__title Мы оказываем широкий спектр услуг
    ul.services__list
      li.services__item Профессиональный монтаж любой сложности: кровля, вынос, смещение, балконы «с нуля»
      li.services__item Внутренняя отделка различными материалами: ПВХ и МДФ панели, дерево, гипсокартон, встроенные шкафы, электрика, утепление
      li.services__item Пластиковые окна «под ключ»: ремонт, регулировка, москитные сетки
      li.services__item Натяжные потолки, люстры, светильники, гардины
      li.services__item Жалюзи
