.works#our-works
  .grid-container
    h2 Наши работы
    .works__wrap
      .works__slider
        .works__slide
          .works__slide-inner(style="background-image: url(./i/slides/slide1.jpg)")
            a(href="./i/slides/slide1.jpg" title="Посмотреть в галерее" data-fancybox="gallery").works__plus
              img(src="./images/plus.svg", alt="").svg-inline
        .works__slide
          .works__slide-inner(style="background-image: url(./i/slides/slide2.jpg)")
            a(href="./i/slides/slide2.jpg" title="Посмотреть в галерее" data-fancybox="gallery").works__plus
              img(src="./images/plus.svg", alt="").svg-inline
        .works__slide
          .works__slide-inner(style="background-image: url(./i/slides/slide3.jpg)")
            a(href="./i/slides/slide3.jpg" title="Посмотреть в галерее" data-fancybox="gallery").works__plus
              img(src="./images/plus.svg", alt="").svg-inline
        .works__slide
          .works__slide-inner(style="background-image: url(./i/slides/slide4.jpg)")
            a(href="./i/slides/slide4.jpg" title="Посмотреть в галерее" data-fancybox="gallery").works__plus
              img(src="./images/plus.svg", alt="").svg-inline
        .works__slide
          .works__slide-inner(style="background-image: url(./i/slides/slide5.jpg)")
            a(href="./i/slides/slide5.jpg" title="Посмотреть в галерее" data-fancybox="gallery").works__plus
              img(src="./images/plus.svg", alt="").svg-inline
        .works__slide
          .works__slide-inner(style="background-image: url(./i/slides/slide6.jpg)")
            a(href="./i/slides/slide6.jpg" title="Посмотреть в галерее" data-fancybox="gallery").works__plus
              img(src="./images/plus.svg", alt="").svg-inline
        .works__slide
          .works__slide-inner(style="background-image: url(./i/slides/slide7.jpg)")
            a(href="./i/slides/slide7.jpg" title="Посмотреть в галерее" data-fancybox="gallery").works__plus
              img(src="./images/plus.svg", alt="").svg-inline
        .works__slide
          .works__slide-inner(style="background-image: url(./i/slides/slide8.jpg)")
            a(href="./i/slides/slide8.jpg" title="Посмотреть в галерее" data-fancybox="gallery").works__plus
              img(src="./images/plus.svg", alt="").svg-inline

