.cta {
    background-color: $primary;
    color: #fff;
    padding: rem-calc(40);
    border-radius: rem-calc(4);
    margin-bottom: rem-calc(50);

    &__tel {
        display: inline-block;
        font-size: rem-calc(70);
        margin-bottom: rem-calc(20);
        border-bottom: rem-calc(4) solid transparent;

        &:hover {
            color: #fff;
            border-bottom: rem-calc(4) solid #fff;
        }
    }

    &__wha {
        display: flex;
        svg {
            height: rem-calc(20);
        }
    }

    &__wha-text {
        margin-right: rem-calc(10);
    }

    &__wha-link {
        display: flex;
        align-items: center;
        svg {
            margin-right: rem-calc(5);
        }

        &:hover {
            color: #fff;
            text-decoration: underline;
        }
    }
}
