@font-face {
  font-family: 'Roboto';
  src:
    url($fontsPath + '/Roboto-Regular.woff2') format('woff2'),
    url($fontsPath + '/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
    url($fontsPath + '/Roboto-Black.woff2') format('woff2'),
    url($fontsPath + '/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
    url($fontsPath + '/Roboto-Bold.woff2') format('woff2'),
    url($fontsPath + '/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
