.header {
    padding: rem-calc(25 0 15);
    background-color: transparent;
    // position: fixed;
    position: absolute;
    // background-color: #fff;
    right: 0;
    left: 0;
    top: 0;
    z-index: 10;
    color: #fff;

    &__wrap {
        display: flex;
        align-items: center;
    }

    &__menu {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
    }

    &__link {
        font-size: rem-calc(20);
        margin-right: rem-calc(20);
        &:last-child {
            margin-right: 0;
        }

        &_wha {
            display: flex;
            align-items: center;
            margin-right: rem-calc(5);
            svg {
                height: rem-calc(20);
            }
        }
    }

    @include breakpoint(large down) {
        &__wrap {
            justify-content: space-between;
        }

        &__menu {
            position: absolute;
            flex-direction: column;
            justify-content: flex-start;
            width: 40vw;
            min-width: rem-calc(320);
            align-items: flex-start;
            background-color: #1c1c1c;
            top: 0;
            right: 0;
            height: 100vh;
            padding: rem-calc(100 30 0 70);
            display: none;
            z-index: 20;

            &.js-active {
                display: flex;
            }
        }

        &__link {
            font-size: rem-calc(22);
            margin-bottom: rem-calc(20);

            &_wha {
                position: relative;
                svg {
                    position: absolute;
                    right: rem-calc(-30);
                }
            }
        }
    }

    @include breakpoint(medium down) {
        &__logo {
            svg {
                width: rem-calc(280);
            }
        }
    }

    @include breakpoint(small only) {
        &__logo {
            display: flex;
            align-items: center;
        }

        &__logo {
            svg {
                width: rem-calc(200);
                height: auto;
            }
        }
    }

    @media (orientation: landscape) and (max-height: 21em) {
        padding-top: rem-calc(10);

        &__menu {
            overflow-y: scroll;
            padding-bottom: rem-calc(50);
        }
    }
}
