.header {
    padding: rem-calc(25 0 15);
    background-color: transparent;
    // position: fixed;
    position: absolute;
    // background-color: #fff;
    right: 0;
    left: 0;
    top: 0;
    z-index: 10;
    color: #fff;

    &__wrap {
        display: flex;
        align-items: center;
    }

    &__menu {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
    }

    &__link {
        font-size: rem-calc(20);
        margin-right: rem-calc(20);
        &:last-child {
            margin-right: 0;
        }

        &_wha {
            display: flex;
            align-items: center;
            margin-right: rem-calc(5);
            svg {
                height: rem-calc(20);
            }
        }
    }
}
