@mixin position-center() {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

@mixin abs-stretch() {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

@mixin bg-cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin abs-full {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
@mixin round($d) {
    width: rem-calc($d);
    height: rem-calc($d);
    border-radius: 50%;
}

@mixin v-abs-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
