.promo {
    @include bg-cover;
    position: relative;

    &::after {
        @include abs-full;
        content: "";
        background: rgba(0,0,0, .45);
        z-index: 3;
        backdrop-filter: blur(1.5px);
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 5;
        height: 100vh;
    }

    &__title {
        text-align: center;
        font-size: rem-calc(60);
        line-height: 1.1;
        color: #ffffff;
        margin-bottom: rem-calc(40);
    }

    @include breakpoint(medium down) {
        &__title {
            font-size: rem-calc(30);
        }
    }

    @include breakpoint(small only) {
        &__title {
            font-size: rem-calc(24);
        }
    }

    @media (orientation: landscape) and (min-height: 21em) {
        &__content {
            padding-top: rem-calc(70);
        }

        &__title {
            margin-bottom: rem-calc(15);
        }
    }
}
