.services {
    @include bg-cover;
    padding: rem-calc(50 0);
    color: #fff;

    @include breakpoint(small only) {
        &__title {
            font-size: rem-calc(22);
            margin-bottom: rem-calc(20);
        }
    }
}
