.works {
    padding: rem-calc(70 0);


    &__wrap {
        margin-right: rem-calc(-20);
    }

    &__slide {
        margin-right: rem-calc(20);
    }

    &__slide-inner {
        @include bg-cover;
        position: relative;
        height: rem-calc(500);
    }

    &__arrow {
        @include round(30);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: rem-calc(40);
        z-index: 5;
        transition: background-color .3s ease-in, transform .3s;

        &_prev {
            transform: translateY(-50%) rotate(180deg);
            right: auto;
            left: rem-calc(20);
        }

        &:hover {
            background-color: rgba(#fff, 0.7);
            transform: translateY(-50%) scale(1.2);
        }

        &_prev:hover {
            transform: translateY(-50%) rotate(180deg) scale(1.2);
        }

        &.slick-disabled {
            background-color: rgba(#fff, 0.7);
            cursor: default;
            &:hover {
                transform: translateY(-50%);
            }
            &.works__arrow_prev {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }

    &__plus {
        @include round(30);
        position: absolute;
        right: rem-calc(20);
        top: rem-calc(20);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        &:hover {
            transform: scale(1.2);
        }
    }

    @include breakpoint(medium down) {
        &__slide-inner {
            height: rem-calc(400);
        }
    }

    @include breakpoint(small only) {
        padding: rem-calc(30 0);
        text-align: center;
    }
}
